<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do list</title>
    <link rel="stylesheet" href="../static/style/style.min.css">
</head>
<body>
<div class="container">







        <div class="container_madalni2">
        <div class="container_madalni2_mad2" style="position: relative; ">
            <img class="xmark2" src="../static/icons/5.png" alt=""
                 style="position: absolute;right: 10px;top: 10px; width: 25px;height: 25px;">
            <div class="container_madalni_mad_bottom2"
                 style="width: 100%;height: 100%; display: flex;justify-content: space-around;align-items: center; flex-direction: column; ">

                <div class="div2"
                     style="width: 100%;height: 15%;display: flex;justify-content: space-around;align-items: center;flex-direction: column">
                    <h1 style="width: 80%; font-size: 20px; color: black; font-weight: 550;font-family: Arial ">Write
                        some excrise</h1>
                    <input data-id="" name="name" class="container_madalni_mad_bottom_input2"
                         style="width: 80%;">
                </div>
                <button class="container_madalni_mad_bottom_button2" style="width: 150px;font-size: 15px">Add</button>
            </div>
        </div>
    </div>


    <div class="container_madalni">
        <div class="container_madalni_mad" style="position: relative; ">
            <img class="xmark" src="../static/icons/5.png" alt=""
                 style="position: absolute;right: 10px;top: 10px; width: 25px;height: 25px;">
            <div class="container_madalni_mad_bottom"
                 style="width: 100%;height: 100%; display: flex;justify-content: space-around;align-items: center; flex-direction: column; ">

                <div class="div"
                     style="width: 100%;height: 15%;display: flex;justify-content: space-around;align-items: center;flex-direction: column">
                    <h1 style="width: 80%; font-size: 20px; color: black; font-weight: 550;font-family: Arial ">Write
                        some excrise</h1>
                    <input name="name" class="container_madalni_mad_bottom_input"
                         style="width: 80%;">
                </div>
                <button class="container_madalni_mad_bottom_button" style="width: 150px;font-size: 15px">Add</button>
            </div>
        </div>
    </div>
    <div class="container_top">
        <div class="container_top_left">
            <img class="added" draggable="false" style="object-fit: cover; height: 46px;width: 46px;" src="../static/icons/4.png" alt="">
        </div>
        <div class="container_top_right">
            Done
        </div>
    </div>
    <div class="container_bottom">
        <div class="container_left">
            <div class="container_left_lists">

            </div>
        </div>
        <div class="container_center">
            <div class="container_center_lists">

            </div>
        </div>
        <div class="container_right">
            <div class="container_right_lists">


            </div>
        </div>
    </div>

</div>
<script src="../static/scripts/script_js.js"></script>
</body>
</html>